//! **************************************************************************
// Written by: Map P.28xd on Thu Aug 16 17:41:13 2012
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "led<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "led<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "led<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "ja1" LOCATE = SITE "L15" LEVEL 1;
COMP "ja2" LOCATE = SITE "K12" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "ja3" LOCATE = SITE "L17" LEVEL 1;
COMP "ja4" LOCATE = SITE "M15" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

