//! **************************************************************************
// Written by: Map P.28xd on Sun Aug 05 04:49:00 2012
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "U6" LEVEL 1;
COMP "tx" LOCATE = SITE "P9" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

